---
import HoverLightScript from "./HoverLightScript.astro";
import NewPresentation from "./NewPresentation.astro";
import NewHero from "./NewHero.astro";
import NewExperience from "./NewExperience.astro";
import NewProjects from "./NewProjects.astro";
import NewSkills from "./NewSkills.astro";
import NewStudies from "./NewStudies.astro";
import NewFooter from "./NewFooter.astro";

interface Props {
  locale: "en" | "es";
}

const { locale } = Astro.props;
---

<main id="main-content" class="relative" tabindex="-1">
  <NewPresentation locale={locale} />
  <NewHero locale={locale} />
  <NewExperience locale={locale} />
  <NewProjects locale={locale} />
  <NewSkills locale={locale} />
  <NewStudies locale={locale} />
  <NewFooter locale={locale} />
</main>

<HoverLightScript />
