---
import Experience from "./Experience.astro";
import HoverLightScript from "./HoverLightScript.astro";
import NewFooter from "./NewFooter.astro";
import Overview from "./Overview.astro";
import PresentationIntro from "./PresentationIntro.astro";
/* import Projects from "./Projects.astro"; */
import Skills from "./Skills.astro";
import Studies from "./Studies.astro";

interface Props {
  locale: "en" | "es";
}

const { locale } = Astro.props;
---

<main id="main-content" class="relative" tabindex="-1">
  <PresentationIntro locale={locale} />
  <Overview locale={locale} />
  <Experience locale={locale} />
  <!-- <Projects locale={locale} /> -->
  <Skills locale={locale} />
  <Studies locale={locale} />
  <NewFooter locale={locale} />
</main>

<HoverLightScript />
